<ion-view view-title="{{server.server.label}}">
    <ion-content has-bouncing="true" class="padding">
        <ion-list ng-show="server.server.id">
            <div class="item item-divider">
                Recent Tasks
            </div>
            <ion-item ng-hide="server.tasks.length > 0" class="item" type="item-text-wrap">
                No recent Tasks
            </ion-item>
            <ion-item ng-show="server.tasks.length > 0" class="item" ng-repeat="task in server.tasks | reverse"
                      type="item-text-wrap">
                {{task.action}} {{task.status}} <span class="item-note"><span am-time-ago="task.finishtime*1000"></span></span>
            </ion-item>
            <div class="item item-divider">
                Server Info
            </div>
            <ion-item class="item" type="item-text-wrap">
                CPU
                <span class="item-note">
                    {{server.server.cpu}}
                </span>
            </ion-item>
            <div class="button-bar padding-top">
                <a ng-click="ServerPowerOn(server.server.id)" class="button button-positive">Power on</a>
                <a ng-click="ServerPowerOff(server.server.id)" class="button button-positive">Power off</a>
                <a ng-click="ServerReset(server.server.id)" class="button button-positive">Restart</a>
            </div>
            <button ng-click="renameServer(server.server.id, server.server.label)" class="button button-block button-positive">
                Rename Server
            </button>
            <button ng-click="modifyDNS(server.server.id, server.server.hostname)" class="button button-block button-positive">
                Modify reverse DNS
            </button>
            <button ng-click="getConsole(server.server.id)" class="button button-block button-positive">
                Open Console
            </button>
        </ion-list>
    </ion-content>
</ion-view>
