<ion-view view-title="Account" cache-view="false">
    <ion-content has-bouncing="true" class="padding">
        <ion-list>
            <div ng-show="cacStatus.length" class="card">
                <div class="item item-divider">CloudAtCost Status</div>
                <div ng-repeat="status in cacStatus" class="item item-text-wrap" ng-class="status.level === 0 ? 'greenbg' : 'redbg'">
                    <h2><strong>{{status.title}} - {{status.date | date}}</strong></h2>
                    {{status.message}}
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">Accounts</div>
                <div class="item" ng-if="accounts.length == 0">No Accounts</div>
                <a class="item" ng-repeat="account in accounts" href="#/tab/account/{{account.email}}">
                    {{account.email === email ? '(active)' : ''}} {{account.email}}
                    <div class="item-icon-right">
                        <i class="icon ion-ios-arrow-right"></i>
                    </div>
                </a>
            </div>
            <button ng-click="showAccountModal()" class="button button-block button-positive">
                Add Account
            </button>
            <div class="card">
                <div class="item item-divider">Instructions</div>
                <div class="item item-text-wrap">
                    1. Log in to your CloudAtCost Panel<br />
                    2. Click on Settings on the top right<br />
                    3. Generate an API Key<br />
                    4. Scan the QR code or enter your Email and API Key manually<br />
                    5. Add your devices current IP to the "API Access IP" field on the CloudAtCost panel.
                       If you don't know your IP, you can find it out by clicking on the button below
                </div>
            </div>
            <button ng-click="getIP()" class="button button-block button-positive">
                Get current IP
            </button>
            <div ng-show="currentIP" class="card">
                <div class="item item-text-wrap">
                    {{currentIP}}
                </div>
            </div>
            <button ng-click="deleteData()" class="button button-block button-positive">
                Delete Account Info and Data
            </button>
            <button ng-click="refreshApp()" class="button button-block button-positive">
                Refresh App
            </button>
        </ion-list>
    </ion-content>
</ion-view>