<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>

        <ion-list>
            <div ng-show="status.responseTime" class="list card">
                <div class="item item-text-wrap">
                    Last update: <span am-time-ago="status.responseTime"></span>
                </div>
            </div>
            <div ng-show="status.message" class="list card">
                <div class="item item-text-wrap">
                    {{status.message}}
                </div>
            </div>
            <div ng-show="servers.response.status == 'ok'" class="list card"
                 ng-repeat="server in servers.response.data">
                <div class="item item-divider">
                    <div class="statusDot" ng-class="server.status == 'Powered On' ? 'ok' : 'error'"></div>
                    {{server.lable}} ({{server.id}})
                </div>
                <div class="item item-body">
                    <div class="pieChart">
                        <pie-chart data="getChartData('CPU', server.id)" options="chartOptions"></pie-chart>
                    </div>
                    <div class="pieChart">
                        <pie-chart data="getChartData('RAM', server.id)" options="chartOptions"></pie-chart>
                    </div>
                    <div class="pieChart">
                        <pie-chart data="getChartData('HD', server.id)" options="chartOptions"></pie-chart>
                    </div>
                </div>
            </div>
            <div ng-show="tasks.response.status == 'ok'" class="list card">
                <div class="item item-divider">Recent Tasks</div>
                <p ng-hide="tasks.response.data.length > 0">No Tasks</p>

                <div ng-if="tasks.response.data.length > 0" class="list">
                    <div ng-repeat="task in tasks.response.data | reverse" class="item">
                        {{task.serverid}}: {{task.action}} {{task.status}} <span class="item-note"><span
                            am-time-ago="task.finishtime*1000"></span></span>
                    </div>
                </div>
            </div>
            <div ng-show="templates.response.status == 'ok'" class="list card">
                <div class="item item-divider">Available Templates</div>
                <p ng-hide="templates.response.data.length > 0">No Templates</p>
                <ul ng-if="templates.response.data.length > 0" class="list">
                    <li ng-repeat="template in templates.response.data" class="item">{{template.detail}}</li>
                </ul>
            </div>
        </ion-list>
    </ion-content>
</ion-view>