<ion-view view-title="Account">
    <ion-content has-bouncing="true" class="padding">
        <ion-list>
            <label class="item item-input">
                <input ng-model="settings.email" type="email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input ng-model="settings.APIKey" type="{{settings.showAPIKey ? 'text' : 'password'}}"
                       placeholder="API-Key">
            </label>
            <ion-toggle ng-model="settings.showAPIKey">
                Show API-Key
            </ion-toggle>
            <button ng-click="saveData()" class="button button-block button-positive">
                Save
            </button>
            <button ng-click="scanBarcode()" class="button button-block button-positive">
                Scan QR-Code
            </button>
            <div class="card">
                <div class="item item-divider">Instructions</div>
                <div class="item item-text-wrap">
                    1. Log in to your CloudAtCost Panel<br />
                    2. Click on Settings on the top right<br />
                    3. Generate an API Key<br />
                    4. Enter your Email and API Key above<br />
                    5. Add your devices current IP to the "API Access IP" Field on the CloudAtCost panel.
                       If you don't know your IP, you can find it out by clicking on the button below
                </div>
            </div>
            <button ng-click="getIP()" class="button button-block button-positive">
                Get current IP
            </button>
            <div ng-show="currentIP" class="card">
                <div class="item item-text-wrap">
                    {{currentIP}}
                </div>
            </div>
            <button ng-click="deleteData()" class="button button-block button-positive">
                Delete Account Info and Data
            </button>
        </ion-list>
    </ion-content>
</ion-view>