<ion-view view-title="Dashboard">
    <ion-content has-bouncing="true">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>

        <ion-list class="ng-cloak">
            <div ng-show="status.responseTime" class="list padding-horizontal padding-top">
                <div class="item item-text-wrap">
                    Last update: <span am-time-ago="status.responseTime"></span>
                </div>
            </div>
            <div ng-show="status.message" class="list padding-horizontal padding-top">
                <div class="item item-text-wrap">
                    {{status.message}}
                </div>
            </div>
            <div ng-hide="servers.response.status == 'ok' || status.message" class="list padding-horizontal padding-top">
                <div class="item item-text-wrap">
                    There is nothing here yet. Make sure you entered your Email and API-Key in the settings and come here again.
                </div>
            </div>
            <div ng-show="servers.response.status == 'ok'" class="list card"
                 ng-repeat="server in servers.response.data">
                <div class="item item-divider">
                    <div class="statusDot" ng-class="server.status == 'Powered On' ? 'ok' : 'error'"></div>
                    {{server.label}} ({{server.id}})
                </div>
                <div class="item item-body">
                    <div class="pieChart">
                        <pie-chart data="server.chartData.cpu" options="chartOptions"></pie-chart>
                    </div>
                    <div class="pieChart">
                        <pie-chart data="server.chartData.ram" options="chartOptions"></pie-chart>
                    </div>
                    <div class="pieChart">
                        <pie-chart data="server.chartData.hd" options="chartOptions"></pie-chart>
                    </div>
                </div>
            </div>

            <div class="item item-divider">
                Social Media
            </div>
            <a class="item" href="#"
               onclick="window.open('https://twitter.com/cloudatcost', '_blank', 'location=yes'); return false;">
                CloudAtCost Twitter
            </a>
            <a class="item" href="#"
               onclick="window.open('https://twitter.com/cloudatcostapp', '_blank', 'location=yes'); return false;">
                CloudAtCostApp Twitter
            </a>

            <span ng-show="tasks.response.status == 'ok'" class="list">
                <div class="item item-divider">Recent Tasks</div>
                <p ng-hide="tasks.response.data.length > 0">No Tasks</p>

                <div ng-if="tasks.response.data.length > 0" class="list">
                    <div ng-repeat="task in tasks.response.data | reverse" class="item">
                        {{task.serverid}}: {{task.action}} {{task.status}} <span class="item-note"><span
                            am-time-ago="task.finishtime*1000"></span></span>
                    </div>
                </div>
            </span>
            <span ng-show="templates.response.status == 'ok'" class="list">
                <div class="item item-divider">Available Templates</div>
                <p ng-hide="templates.response.data.length > 0">No Templates</p>
                <ul ng-if="templates.response.data.length > 0" class="list">
                    <li ng-repeat="template in templates.response.data" class="item">{{template.detail}}</li>
                </ul>
            </span>
        </ion-list>
    </ion-content>
</ion-view>