<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refresh()">
    </ion-refresher>

      <ion-list>
          <div ng-show="status.responseTime" class="list card">
              <div class="item item-text-wrap">
                  Last update: <span am-time-ago="status.responseTime"></span>
              </div>
          </div>
          <div ng-show="status.message" class="list card">
              <div class="item item-text-wrap">
                  {{status.message}}
              </div>
          </div>
    <div ng-show="servers.response.status == 'ok'" class="list card" ng-repeat="server in servers.response.data">
    <div class="item item-divider">{{server.lable}}</div>
    <div class="item item-body">
          <div>
          Status: {{server.status}}<br/>
          CPU: {{(server.cpuusage/(server.cpu*100))*100}}%<br/>
          Ram: {{server.ramusage}}/{{server.ram}}MB<br/>
          HD: {{server.hdusage}}/{{server.storage}}GB
        </div>
        <div id="chart1" ac-chart="chartType" ac-data="data" ac-config="config" style="width:120px; height:150px; float:left;"></div>
        <div id="chart1" ac-chart="chartType" ac-data="data" ac-config="config" style="width:120px; height:150px; float:left;"></div>
        <div id="chart1" ac-chart="chartType" ac-data="data" ac-config="config" style="width:120px; height:150px; float:left;"></div>

    </div>
    </div>
    <div ng-show="tasks.response.status == 'ok'" class="list card">
      <div class="item item-divider">Recent Tasks</div>
      <div class="item item-body">
        <p ng-hide="tasks.response.data.length > 0">No Tasks</p>
        <ul ng-if="tasks.response.data.length > 0" class="list">
          <li ng-repeat="task in tasks.response.data | reverse" class="item">
              <h3>{{task.action}} server {{task.serverid}}</h3>
              <p>{{task.status}} <span am-time-ago="task.finishtime*1000"></span></p>
          </li>
        </ul>
      </div>
    </div>
    <div ng-show="templates.response.status == 'ok'" class="list card">
      <div class="item item-divider">Available Templates</div>
      <div class="item item-body">
          <p ng-hide="templates.response.data.length > 0">No Templates</p>
          <ul ng-if="templates.response.data.length > 0" class="list">
          <li ng-repeat="template in templates.response.data" class="item">{{template.detail}}</li>
        </ul>
      </div>
    </div>
      </ion-list>
  </ion-content>
</ion-view>