<ion-view view-title="CloudPRO">
    <ion-content has-bouncing="true" padding="true">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <div class="item item-divider">
                Create a new CloudPRO server
            </div>
                <label ng-repeat="options in cloudproResources.options" class="item item-input item-select">
                    <div class="input-label">
                        {{options.name}}
                    </div>
                    <select ng-model="options.newServer" ng-options="option.label for option in options.options"></select>
                </label>
            <button ng-click="buildServer()" ng-disabled="buildingServer" class="button button-block button-positive">
                <label ng-if="!buildingServer">Create server</label> <label ng-if="buildingServer">Creating server</label><ion-spinner class="spinnerButtonPadding" ng-if="buildingServer"></ion-spinner>
            </button>

            <div class="item item-divider">
                Total resources
            </div>
            <ion-item class="item" type="item-text-wrap">
                CPU <span class="item-note">{{cloudpro.response.data.total.cpu_total}}</span>
            </ion-item>
            <ion-item class="item" type="item-text-wrap">
                RAM <span class="item-note">{{cloudpro.response.data.total.ram_total}}</span>
            </ion-item>
            <ion-item class="item" type="item-text-wrap">
                HD <span class="item-note">{{cloudpro.response.data.total.storage_total}}</span>
            </ion-item>

            <div class="item item-divider">
                Used resources
            </div>
            <ion-item class="item" type="item-text-wrap">
                CPU <span class="item-note">{{cloudpro.response.data.used.cpu_used}}</span>
            </ion-item>
            <ion-item class="item" type="item-text-wrap">
                RAM <span class="item-note">{{cloudpro.response.data.used.ram_used}}</span>
            </ion-item>
            <ion-item class="item" type="item-text-wrap">
                HD <span class="item-note">{{cloudpro.response.data.used.storage_used}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>