/* Empty. Add your own CSS if you like */

.pieChart {
    height: 100px;
    width: 100px;
    float:left;
}

.statusDot {
    width: 12px;
    height: 12px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    float:left;
    margin-right: 5px;
    margin-top: 5px
}

.statusDot.ok{
    background: limegreen;
}
.statusDot.warn{
    background: orange;
}
.statusDot.error{
    background: orangered;
}

.spinnerButtonPadding {
  padding-left: 10px; 
  padding-top: 7px;
  position: absolute;
}